@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-hover {
    position: relative;
  }
  
  .underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #8350eb;
    transition: width 0.3s ease-in-out;
  }
  
  .underline-hover:hover::after {
    width: 100%;
  }
  